
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/responsive";



.return {
    position: absolute;
    left: 61px;
    top: 34px;
    font-size: 1.4em;
}


.content_resto {


& .banner_img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    
}



}


.content {
    position: relative;
    top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: $background;
   
    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.9em;
        padding-top: 1.2em;
        padding-left: 1.2em;
    }


}


.menu_name {
    padding: 11px 0px 15px 10px;
    font-size: 1.1em;
}



.menu_description {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px 15px 10px;
   
    .menu_info {
            font-weight: 200;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }



.fond_vert { 
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: $color-new;
    width: 55px;
    height: 70px;
    position: relative;
    top: -43px;
    right: -7px;
    float: right;
    
   
}

    .font_vert_ico{
        position: absolute;
        top: 25px;
        left: 18px;
        color: #ffff;
        text-align: center
        
    }
    


.heart i{
    @include heart;
}

.heart_full {
    @include heart_full;
}



.menu_choix {
   @include article_menu;

}

.menu_choix_title {
   @include title_choix;
  
    
}    
  .menu_back {
    @include menu;
}

.btn_graden {
    @include btn_graden;  
   
    }
