
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/responsive";



.return {
    position: absolute;
    left: 61px;
    top: 34px;
    font-size: 1.4em;
}


.content_resto {


& .banner_img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    
}



}


.content {
    position: relative;
    top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: $background;
   
    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.9em;
        padding-top: 1.2em;
        padding-left: 1.2em;
    }


}

.menu_choix {
    @include article_menu;
 
 }

 .menuBack { 
        background: $color-fontfooter;
        border-radius: 20px;
        margin-bottom: 1.4em;
        overflow: hidden;
        display: flex;
        padding: 1rem;
        max-width: 100%;

    &__description {
            flex: 1;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
           }


&__name {
        
        font-size: 1.1em;
    }



&__info {
    font-weight: 200;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
&__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: .5rem;
}
&__vert { 
   
    background: #99E2D0;
  
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
}




&:hover &__vert {
    margin-right: -1rem;
}

&__vert_ico {
    color: #ffff;
    height: 1.6rem;
    width: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: .5s;
        
    }

    &:hover &__vert_ico {
        transform: rotate(0);
      }


&__ico {
    color: #FFFF;
    font-size: 1.3em;

}

  


}





    




    


.heart i{
    @include heart;
}

.heart_full {
    @include heart_full;
}




.menu_choix_title {
   @include title_choix;
  
    
}    
  

.btn_graden {
    @include btn_graden;  
   
    }
