$color-expbtn: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
$color-form: #eaeaea;
$color-font: #0000;
$color-fontfooter: #FFFF;
$color-icohover: #9356DC;
$color-icobackhover: #f5edff;
$color-pink: #FF79DA;
$color-new: #99E2D0;